@use "./normalize.scss";
@use "../scss/partials/variables";
@use "../scss/partials/mixins";



// ************************ MOBILE FIRST ! ************************
h1, h2, h3, h4, h5, h6, a{
    font-family: variables.$titles;
    color: variables.$text-h;
    margin: 0;
}
p{
    font-family: variables.$text;
    color: variables.$text-p;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
}
a{
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 900;
}
ul{
    list-style: none;
    margin: 0;
}

/* --- HEADER --- */
header{
    background-image: url(../../images/mobile/image-header.jpg);
    @include mixins.background-cover(bottom, center);
    min-height: 538px;
    padding: 32px 24px; // border content header
    box-sizing: border-box;

    h1, li, a{
        color: variables.$white;
        margin: 0;
    }

    h1{
        text-align: center;
        font-size: 36px;
        letter-spacing: 4px;
        padding-left: 4px;
        line-height: 49px;
        font-weight: 900;
        margin-top: 115px;
        text-transform: uppercase;
    }

    .header__arrow-down{
        width: 30px;
        height: auto;
        position: relative;
        left: 50%;
        margin-left: -15px; // element centered (width/2)
        margin-top: 20px;
    }

    nav{
        @include mixins.flex(row,wrap,space-between);
        height: 24px;

        .nav__menu{
            display:none;
        }

        .nav__hamburger{
            width: 24px;
            height: 24px;
            .nav__hamburger__element{
                border-top: 2px solid variables.$white;
                margin-bottom: 6px;
            }
        }

        a{
            text-decoration: none;
        }
    }
}

/* --- MAIN --- */
main{
    & article{
        text-align: center;
        .section--img{
            @include mixins.background-cover(bottom center);    
        }
        .article--img{
            height: 100%;
        }
        .section--img{
            height: 312px;
        }

        // BRAND & AUDIENCE
        h2{
            font-size: 32px;
            letter-spacing: -0.23px;
            line-height: 39.46px;
            font-weight: 900;
            margin: 0 0 24px;
        }

        p{
            margin: 0 0 24px;
        }

        .brand__img{
            background-image: url(../../images/mobile/image-transform.jpg);
        }
        .audience__img{
            background-image: url(../../../images/mobile/image-stand-out.jpg);
        }
        .section--text{
            padding: 50px 24px;
            a{
                position: relative;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 1px;
                color: variables.$text-h;
                text-transform: uppercase;
                z-index: 2;
            }
            .a--underline{
                position: relative;
                height: 10px;
                position: relative;
                margin: 0 auto;
                top: -10px;
                width: 137px;
                border-radius: 28px;
                z-index: 1;
            }
            .brand__information--underline{
                background-color: rgba(250, 212, 0, 0.25);
            }
            .audience__information--underline{
                background-color: rgba(254, 119, 102, 0.25);
            }
            #brand--button{
                &:hover .brand__information--underline{
                    background-color: rgba(250, 212, 0, 1);
                    cursor: pointer;
                }
            }
            #audience--button{
                &:hover .audience__information--underline{
                    background-color: rgba(254, 119, 102, 1);
                    cursor: pointer;
                }
            }
        }

        // GRAPHIC DESIGN & PHOTOGRAPHY
        .graphic__section, .photography__section{
            height: 600px;
            @include mixins.flex(column,nowrap,flex-end,center);
        }
        .graphic__section{
            background-image: url(../../../images/mobile/image-graphic-design.jpg);
        }
        .photography__section{
            background-image: url(../../../images/mobile/image-photography.jpg);
        }
        h2{
            color: variables.$text-and-h-var-lightgreen;
            font-size: 28px;
            line-height: 35px;
            letter-spacing: -0.2px;
            font-weight: 900;
            margin: 0 24px 27px;
        }
        .graphic__text, .photography__text{
            color: variables.$text-and-h-var-lightgreen;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: -0.11px;
            font-weight: 600;
            margin: 0 24px 59px;
        }

        // CLIENT TESTIMONIALS
        .testimonials__title{
            margin-top: 50px;
            color: variables.$text-h-var-gray;
            font-size: 16px;
            line-height: 19.73px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        .testimonials__section{
            padding: 0 24px;
            .testmonials__picture{
                height: 72px;
                width: 72px;
                border-radius: 50%;
                margin-top: 64px;
            }
            .testimonials__text{
                font-size: 18px;
                line-height: 32px;
                letter-spacing: -0.13px;
                font-weight: 600;
                color: variables.$text-p-var-darkgray;
                margin: 32px 0;
            }
            .testimonials__name{
                margin-bottom: 9px;
                font-size: 18px;
                line-height: 22.19px;
                letter-spacing: -0.13px;
                color: variables.$text-h;
            }
            .testimonials__job{
                margin: 0;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: -0.1px;
                color: variables.$text-h-var-gray;
            }
        }
        .testimonials__section:last-child{
            margin-bottom: 50px;
        }

        // PICTURES SQUARE
        #orange{
            background-image: url(../../images/mobile/image-gallery-orange.jpg);
        }
        #cone{
            background-image: url(../../images/mobile/image-gallery-cone.jpg);
        }
        #milk{
            background-image: url(../../images/mobile/image-gallery-milkbottles.jpg);
        }
        #sugar{
            background-image: url(../../images/mobile/image-gallery-sugar-cubes.jpg);
        }
    }
    .square{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        section{
            height: 188px;
            width: auto;
            @include mixins.background-cover;
        }
    }
}

/* --- FOOTER --- */
footer{
    text-align: center;
    background-color: variables.$foot-background;
    padding: 64px 24px;
    overflow: hidden;
    .footer__title{
        filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
        scale:1.4;
        margin-bottom: 40px;
    }
    section {
        ul{
            margin: 0;
            padding: 0;
        }
        .footer__links__list{
            @include mixins.flex(row,nowrap,center,center);
            margin: 0 28.5px;
            .footer__links__list__link{
                font-family: variables.$text;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: -0.13px;
                color: variables.$foot-a;
            }
            :hover{
                color: variables.$white;
            }
        }
        .footer__social__list{
            @include mixins.flex(row,nowrap,center,center);
            li{
                margin: 0 14px;
            }
            :hover a img{
                filter: invert(99%) sepia(70%) saturate(97%) hue-rotate(199deg) brightness(200%) contrast(100%);
            }
        }
    }
    .footer__links{
        margin-bottom: 88px;
    }

}


// ************************ DESKSTOP VERSION ************************
// 1400px window width and more
@include mixins.rwd(1400) {
    html,body{
        height: 100%;
        width: 100%;
    }
    body{
        
        // HEADER
        header{
            @include mixins.background-cover(center, center);
            background-image: url(../../images/desktop/image-header.jpg);
            height: 100%;
            padding: 34px 40px;
            nav{
                .nav__menu{
                    width: 40%;
                    display: block;
                    @include mixins.flex(row,nowrap,space-around,center);
                    li:last-child{
                        background-color: variables.$white;
                        border-radius: 28px;
                        height: 56px;
                        width: 140px;
                        text-align: center;
                        cursor: pointer;
                        a{
                            color: variables.$text-h;
                            text-transform: uppercase;
                            line-height: 56px;
                        }
                    }
                    #nav__menu__button:hover{
                        background-color: #77CDF5;
                        a{
                            color: variables.$white;
                        }
                        
                    }
                }
                .nav__hamburger{
                    display: none;
                }
            }
            h1{
                font-size: 56px;
                margin-top: 155px;
            }
            .header__arrow-down{
                position: absolute;
                top: 50%;
                margin-top: -20px;
            }
        }
    }

    main{

        // BRAND & AUDIENCE
        .brand, .audience{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-content: center;
        }
        .brand{
            .section--img{
                height: 600px;
                order: 2;
                background-image: url(../../images/desktop/image-transform.jpg);
            }
        }
        .audience{
            .section--img{
                height: 600px;
                background-image: url(../../images/desktop/image-stand-out.jpg);
            }
        }
        .section--text{
            margin: auto;
        } 
        
        // GRAPHIC DESIGN & PHOTOGRAPHY
        .graphic{
            float: left;
            width: 50%;
            .graphic__section{
                background-image: url(../../images/desktop/image-graphic-design.jpg);
            }
        }
        .photography{
            .photography__section{
                background-image: url(../../images/desktop/image-photography.jpg);
            }
        }
        .graphic, .photography{
            .section--img{
                height: 600px;
            }
            p{
                width: 50%;
            }
        }

        // CLIENT TESTIMONIALS
        .testimonials{
            display: grid;
            grid-template-columns: 3;
            grid-template-rows: 2;
            padding: 100px;
            h3{
                grid-row: span 1;
                grid-column: 2;
                text-align: center;
            }
            section{
                grid-row-start: 2;
            }
        }

        // PICTURES SQUARE
        .square{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            #orange{
                background-image: url(../../images/desktop/image-gallery-orange.jpg);
                grid-column: 2;
            }
            #cone{
                background-image: url(../../images/desktop/image-gallery-cone.jpg);
                grid-column: 3;
            }
            #milk{
                background-image: url(../../images/desktop/image-gallery-milkbottles.jpg);
                grid-column: 1;
            }
            #sugar{
                background-image: url(../../images/desktop/image-gallery-sugarcubes.jpg);
                grid-column: 4;
            }
            .square__section{
                height: 450px;
            }
        }
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ BONUS - OPEN NAV ~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width:575px) {
    .nav__menu{
        //display: flex !important; //uncomment fort view
        position: absolute;
        background-color: variables.$white;
        height: 329px;
        width: 329px;
        top: 100px;
        left: 50%;
        margin-left: -164.5px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        li{
            margin: 16px 0;
            a{
                color: variables.$text-p;
                font-size: 20px;
                font-family: variables.$text;
                line-height: 25px;
                letter-spacing: -0.14px;
            }
        }
        li:last-child{
            background-color: #FBD600;
            height: 56px;
            width: 140px;
            border-radius: 28px;
            text-align: center;
            line-height: 56px;
            a{
                font-family: variables.$titles;
                color: variables.$text-h;
            }
        }
    }
    
}
